@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Gilroy-Regular.woff) format("woff"), url(../fonts/Gilroy-Regular.woff2) format("woff2");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Gilroy-Semibold.woff) format("woff"), url(../fonts/Gilroy-Semibold.woff2) format("woff2");
}

:root {
  /* Text color */
  --main-txt-cl: #000000;
  --accent-txt-cl: #f7941e;
  --secondary-txt-cl: #ffffff;
  /* Button color */
  --btn-txt-cl: #f7941e;
  --btn-secondary-cl: #231f20;
  --btn-white-cl: #ffffff;
  /* Bgc color */
  --main-bgc-cl: #ffffff;
  --secondary-bgc-cl: #f1f1f2;
  --accent-bgc-cl: #f7941e;
  --dark-bgc-cl: #231f20;
  --card-bgc-cl: #fafafa;
  /* Fonts */
  --main-font: Gilroy;
  --secondary-font: "Homemade Apple";
  /* Others */
  --main-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  --btn-radius: 5px;
}

body {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-txt-cl);
  background-color: var(--main-bgc-cl);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 32px;
  margin-bottom: 23px;
}

.quote {
  font-size: 18px;
  line-height: 1.18;
  margin-bottom: 63px;
}

/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 2.16;
  color: var(--btn-secondary-cl);
}

.logo--accent {
  color: var(--accent-txt-cl);
}

/* Button */
.primary-btn {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
  background-color: transparent;
  border: 1px solid var(--accent-bgc-cl);
  border-radius: var(--btn-radius);
  cursor: pointer;
}

.primary-invert-btn {
  color: var(--btn-white-cl);
  background-color: var(--accent-bgc-cl);
}

.secondary-btn {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  background-color: transparent;
  border: 1px solid var(--btn-secondary-cl);
  border-radius: var(--btn-radius);
  cursor: pointer;
}

.secondary-invert-btn {
  color: var(--btn-white-cl);
  background-color: var(--btn-secondary-cl);
}

/* Header */
.header {
  padding: 38px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav__link {
  color: inherit;
  font-size: 18px;
  display: inline-block;
  margin-left: 31px;
}

.nav__link:first-child {
  margin: 0;
}

/* Hero */
.hero {
  background-color: var(--secondary-bgc-cl);
  background-image: url(../images/couple.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 360px);
  padding-top: 154px;
  padding-bottom: 135px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__wrap {
  width: 433px;
}

.hero__title {
  font-size: 56px;
  margin-bottom: 32px;
  line-height: 1.23;
}

.hero__text {
  margin-bottom: 52px;
}

/* Work */
.work {
  padding-top: 164px;
  padding-bottom: 104px;
  background-color: var(--secondary-bgc-cl);
  background-image: url(../images/thanks.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 360px);
}

.work__content {
  width: 440px;
  margin-left: auto;
}

.work__title {
  text-align: right;
}

.work__text {
  margin-bottom: 35px;
}

/* Products */
.products {
  padding-top: 96px;
  padding-bottom: 137px;
  text-align: center;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.products__item {
  background-color: var(--card-bgc-cl);
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.products__item:hover {
  background-color: var(--main-bgc-cl);
  -webkit-filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.products__item-wrap {
  padding: 24px;
}

.products__title {
  margin-bottom: 74px;
}

.products__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 14px;
  line-height: 1.35;
  color: var(--main-txt-cl);
}

.products__link::after {
  content: ">";
  display: block;
  width: 10px;
  height: 10px;
  /* background-image: url(../images/icons/icon.jpeg);
        background-size: contain; */
  margin-left: 4px;
}

/* Promo */
.promo {
  background-color: var(--accent-bgc-cl);
  padding-top: 80px;
  padding-bottom: 70px;
}

.promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo-content {
  margin-right: 229px;
}

.promo-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-btn-item:not(:last-child) {
  margin-right: 16px;
}

.promo-title {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 600;
}

.promo-subtitle {
  font-size: 32px;
  line-height: 1.4;
}

/* Blog */
.blog {
  padding-top: 80px;
  padding-bottom: 88px;
}

.blog-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
}

.blog .quote {
  text-align: center;
}

.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  background-color: var(--dark-bgc-cl);
  color: var(--secondary-txt-cl);
}

.blog-holder {
  padding: 63px 78px 49px;
  text-align: left;
}

.blog-holder-uptitle {
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 1.4;
}

.blog-holder-title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
}

.blog-holder-link {
  color: currentColor;
  font-size: 18px;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-card {
  margin-right: 30px;
  padding: 48px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog-card:last-child {
  margin-right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-card-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.blog-card-text {
  margin-bottom: 34px;
  font-size: 18px;
}

.blog-card-link {
  font-size: 14px;
  color: currentColor;
}

/* Footer */
.footer {
  padding-top: 115px;
  padding-bottom: 35px;
  background-color: var(--card-bgc-cl);
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 43px;
  margin-bottom: 55px;
  border-bottom: 1px solid #000000;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-item {
  margin-right: 81px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link {
  font-size: 14px;
  font-weight: 600;
  color: currentColor;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 72px;
}

.footer__socials-item {
  margin-right: 24px;
}

.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-icon {
  display: block;
  fill: var(--main-txt-cl);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: fill 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: fill 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 250ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.footer__socials-icon:hover {
  fill: var(--accent-bgc-cl);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
}

.footer__copyright a {
  color: currentColor;
}

.footer .logo {
  margin-left: 141px;
  margin-right: 141px;
}
/*# sourceMappingURL=main.css.map */