/* Promo */
.promo {
    background-color: var(--accent-bgc-cl);
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .promo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo-content {
    margin-right: 229px;
  }

  .promo-btn-list {
    display: flex;
    align-items: center;
  }

  .promo-btn-item:not(:last-child) {
    margin-right: 16px;
  }

  .promo-title {
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
  }
  .promo-subtitle {
    font-size: 32px;
    line-height: 1.4;
  }
